.block {

  border-top: 2px solid #5cc5f7;
  border-bottom: 2px solid #47b2e4;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(200, 200, 200, 0.12);
  
  &__body {
      border: 1px solid #dfdfdf;
   background-color: #fff;
  }
  
  &__title {

  }
}